.root {
  border-radius: 1rem;
  overflow: hidden;
  color: var(--white);
  width: 185px;
}

.root:hover .body {
  background-color: var(--magenta);
}

.body {
  padding: 0.75rem;
  background-color: var(--purple);
}

.name {
  font-size: 1.125rem;
  font-weight: 700;
}
.character {
  font-size: 1rem;
}
