.CloseButton {
  height: 50px;
  width: 50px;
}

.CloseButton__svg {
  transition: fill 0.5s;
  fill: var(--black);
  stroke: var(--violet);
}

.CloseButton:hover .CloseButton__svg {
  fill: var(--orange);
}

.PrimaryButton {
  font-size: 1.125rem;
  color: var(--white);
  background-color: var(--violet);
  padding: 0.75rem;
  border-radius: 0.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  transition: 0.5s;
}

.PrimaryButton:hover {
  color: var(--black);
  background-color: var(--orange);
}
