.root {
  display: inline-block;
  position: relative; 
}

.root > button {
  border-radius: 0;
  position: relative;
}

.root > button:first-child {
  border-radius: max(0.5625rem, 0.75vw) 0 0 max(0.5625rem, 0.75vw);
}

.root > button:last-child {
  border-radius: 0 max(0.5625rem, 0.75vw) max(0.5625rem, 0.75vw) 0;
}