.root {
  overflow: hidden;
  display: block;
  outline: none;
}

.svgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.svg {
  width: max(3rem, 3vw); 
  opacity: 0;
  transition: opacity 0.5s;
  fill: var(--accent);
}

.content {
  opacity: 1;
  transition: opacity 0.5s;
}

.root:hover .svg,
.root:focus .svg {
  opacity: 1;
}

.root:hover .content,
.root:focus .content {
  opacity: 0.5;
}
