.root {
  padding: 0 max(3rem, 3vw);
}

.button {
  position: absolute;
  right: max(-3rem, -3vw);
  top: 0;
  height: 100%;
  padding: 0 0.5rem;
  width: max(3rem, 3vw);
  background-color: transparent;
  border-radius: 0;
  transform: none;
}

/* overwrite default*/
.button:focus-visible {
  outline: 2px solid var(--accent);
}

.buttonLeft {
  left: max(-3rem, -3vw);
}

.button:not([disabled]):hover .svg {
  fill: var(--accent);
}

/* .svg,  overwrite default*/
.button > svg { 
  fill: var(--primary);
  transition: opacity 1s, fill 0.5s;
  width: 100%;
  height: unset;
}

.button:disabled {
  cursor: default;
}

.button:disabled .svg {
  opacity: 0.2;
}
