.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 0;
  top: max(1.5rem, 2vw);
  background-color: var(--background);
  opacity: 0.5;
  border-radius: 0 max(0.75rem, 1vw) max(0.75rem, 1vw) 0;
  transition: opacity 0.5s, background-color 0.5s;
}

.root:hover,
.root:focus-within {
  opacity: 1;
}

.root:hover .svg,
.root:focus-within .svg {
  fill: var(--on-primary);
  stroke: var(--on-primary);
}

.root > *:first-child {
  border-radius: 0 max(0.75rem, 1vw) 0 0;
}

.root > *:last-child {
  border-radius: 0 0 max(0.75rem, 1vw) 0;
}

.svg {
  fill: var(--on-background);
  stroke: var(--on-background);
  transition: fill 0.5s, stroke 0.5s;
  height: 100%;
  width: 100%;
}

.button {
  height: max(2.625rem, 3.5vw);
  width: max(2.625rem, 3.5vw);
  padding: max(0.75rem, 1vw) max(0.375rem, 0.5vw);
  cursor: pointer;
  transition: background-color 0.5s;
  outline: none;
}

.button:hover,
.button:focus-visible {
  background-color: var(--accent);
}

.button:hover .svg,
.button:focus-visible .svg {
  fill: var(--on-accent);
  stroke: var(--on-accent);
}

.button:disabled .svg {
  opacity: 0.25;
}
.button:disabled:hover, .button:disabled:focus-within {
  background-color: var(--primary);
  cursor: default;
}

.button:disabled:hover .svg, .button:disabled:focus-within .svg{
  fill: var(--on-background);
  stroke: var(--on-background);
}
