.root {
  overflow: hidden;
  width: 100%;
  display: flex;
}

.Image {
  transition: opacity 0.5s;
  flex-shrink: 0;
}

.root:hover .Image,
.root:focus .Image {
  opacity: 0.5;
}

.body {
  padding: 0.5rem;
}
