.root {
  font-family: Montserrat, sans-serif;
  color: var(--on-background);
  font-size: var(--fs-5);
  margin-bottom: max(1rem, 1vw);
}

.button {
  font-size: var(--fs-7);
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  transition: color 0.5s;
}

.button:hover {
  color: var(--accent);
}
