/* default */

.content {
  border-radius: 1rem;
  overflow: hidden;
  color: var(--white);
  width: 185px;

}

.content:hover .body {
  background-color: var(--orange);
  color: var(--black);
}

.body {
  padding: 0.75rem;
  background-color: var(--violet);
  transition: 0.5s;
}

.name {
  font-size: 1.125rem;
  font-weight: 700;
}
.position {
  font-size: 1rem;
  font-style: italic
}

/* horizontal */

.contentHorizontal {
  width: 300px;
  height: 120px;
  display: flex;
}

.bodyHorizontal {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
