.root {
  color: var(--on-primary);
  padding: max(1rem, 1vw);
  border-radius: max(1rem, 1vw);
  transition: background-color 0.75s, border 0.75s;
  max-width: max(50rem, 50vw);
  background-color: var(--primary);
  border: solid max(0.125rem, 0.125vw) var(--accent);
}

.title {
  font-size: var(--fs-2);
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1;
}

.tagline {
  font-size: var(--fs-4);
  font-style: italic;
}

.genres {
  display: flex;
  margin: max(0.5rem, 0.5vw) 0;
}

.genresItem {
  margin-right: max(1.5rem, 1.5vw);
}

.overview {
  font-family: Montserrat, sans-serif;
}

.shortInfo {
  margin: max(1rem, 1vw) 0 0 0;
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: max(0.25rem, 0.25vw) max(0.5rem, 0.5vw);
  border: max(0.0625rem, 0.0625vw) solid var(--white);
  border-radius: max(0.5rem, 0.5vw);
  margin-right: max(0.5rem, 0.5vw);
}

.svg {
  fill: var(--white);
  width: max(1rem, 1vw);
  height: max(1rem, 1vw);
  flex-shrink: 0;
  margin-right: max(0.5rem, 0.5vw);
}
