.root {
  display: grid;
  width: 100%;
  position: relative;
  background: var(--background-highlight);
  grid-template-columns: 1fr 1.3fr 1fr 1.3fr;
  column-gap: 0.8%;
}

.root--variant-2 {
  grid-template-columns: 1.3fr 1fr 1.3fr 1fr;
}

.backdropGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
