.root {
  background-color: var(--white-opacity);
  border: var(--white) solid max(0.0625rem, 0.0625vw);
  height: 1.25rem;
  width: 10rem;
  position: relative;
  margin: max(1.5rem, 1.5vw) 0;
  border-radius: max(0.25rem, 0.25vw);
  overflow: hidden;
}

.progress {
  background-color: var(--white);
  height: 100%;
  width: 0;
}

.label {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  font-weight: bold;
}
