.root {
  position: fixed;
  width: 84%;
  left: 8%;
  top: 1rem;
  z-index: 9999;
  background: var(--primary);
  border-radius: 1rem;
  transition: transform 0.5s;
}

.hide {
  transform: translateY(-150%);
  transition: none;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  position: relative;
}

.input {
  font-size: 1.125rem;
  padding: 0 1rem;
  flex-grow: 1;
  color: var(--white);
}

.button {
  padding: 0.35rem 1rem;
}

.input,
.button {
  background: transparent;
  border: none;
  height: 100%;
  border-radius: 1rem;
  outline: solid 2px transparent;
  transition: background-color 0.5s, outline 0.5s, fill 0.5s;
}

.input:focus,
.input:hover,
.button:hover,
.button:focus-visible {
  outline: 2px solid var(--accent);
  background: var(--primary-dark);
}

.svg {
  height: 1.5rem;
  fill: var(--white);
  margin-top: 0.25rem;
}

.button:hover .svg {
  fill: var(--accent);
}

.content {
  position: fixed;
  width: 84%;
  height: 92%;
  left: 8%;
  top: 3.5rem;
  z-index: 9998;

  background-color: var(--primary);
  border: 4px solid var(--primary);
  padding: 1.25rem 4px 4px 2px;
  border-radius: 0 0 1rem 1rem;

  transition: height 1s;
  transform-origin: top;
}

.collapse {
  height: 0;
  padding: 0;
  border: 0;
}

.inner {
  height: 100%;
  overflow: auto;
  border-radius: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.noResults {
  padding: 2rem;
  font-size: 2rem;
}
