.root {
  overflow: hidden;
  height: max(10rem, 10vw);
  display: flex;
  align-items: center;
  padding: 0 max(2rem, 2vw);
  transition: background-color 0.5s, border 0.5s, color 0.5s;
  border-radius: max(1rem, 1vw);
  background-color: var(--background-highlight);
  margin: max(0.5rem, 0.5vw) max(4rem, 4vw) max(0.5rem, 0.5vw) max(2rem, 2vw);
  outline: solid max(0.125rem, 0.125vw) transparent;
}

.image {
  flex-shrink: 0;
  width: max(5rem, 5vw);
}

.root:hover,
.root:focus {
  background: var(--primary-dark);
  color: var(--accent);
}

.root:focus {
  outline: solid max(0.125rem, 0.125vw) var(--accent);
}

.body {
  padding: max(0.5rem, 0.5vw) max(1rem, 1vw);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.title {
  font-size: var(--fs-5);
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.listItem {
  margin-right: max(1rem, 1vw);
}
