.hide {
  transform: translateY(-150%);
  transition: none;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max(3rem, 3vw);
  position: relative;
}

.input {
  font-size: 1.125rem;
  padding: 0 1rem;
  flex-grow: 1;
  color: var(--white);
  background: var(--primary-dark);
}

.button {
  padding: 0.35rem 1rem;
}

.input,
.button {
  border: none;
  height: 100%;
  border-radius: 1rem;
  outline: solid 2px transparent;
  transition: background-color 0.5s, outline 0.5s, fill 0.5s;
}

.input:focus-visible,
.button:focus-visible {
  outline: 2px solid var(--accent);
}

.svg {
  height: 1.5rem;
  fill: var(--white);
  margin-top: 0.25rem;
}

.button:hover .svg {
  fill: var(--accent);
}

.content {
  left: 8%;
  top: max(3rem, 3vw);
  top: 5.5rem;
  z-index: 9998;
}

.list {
  display: flex;
  flex-direction: column;
}

.noResults {
  padding: 2rem;
  font-size: 2rem;
}
