.root {
  padding: max(4rem, 4vw) max(2rem, 2vw) max(5rem, 5vw) max(4rem, 4vw);
}

.root:not(:last-child) {
  border-bottom: solid max(0.0625rem, 0.0625vw) var(--primary);
}

.heading {
  font-size: var(--fs-2);
  letter-spacing: max(0.2rem, 0.2vw);
  padding: 0 0 max(1rem, 1vw) max(3rem, 3vw);
  color: var(--on-background);
  font-weight: 700;
}
