.root {
  padding: max(4rem, 4vw) max(2rem, 2vw) max(5rem, 5vw) max(3.5rem, 3.5vw);
}

.root:not(:last-child) {
  border-bottom: solid 1px var(--primary);
}

.heading {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  padding: 0 0 1rem 3rem;
  position: relative;
  color: var(--on-background);
  font-weight: 700;
}
