.root {
  overflow: hidden;
  display: block;
}

.Image {
  transition: opacity 0.5s;
}

.Forward {
  position: absolute;
  width: max(3rem, 3vw);
  height: max(3rem, 3vw);
  top: 50%;
  left: 50%;
  transform: translate(-25px, -25px);
  opacity: 0;
  transition: opacity 0.5s;
  fill: var(--accent);
}

.root:hover .Forward,
.root:focus .Forward {
  opacity: 1;
}

.root:hover .Image,
.root:focus .Image {
  opacity: 0.5;
}
