.root {
  width: 100%;
  position: relative;
  padding: 3vw 6vw 3vw 8vw;
}

@media (max-width: 1199px) {
  .root {
    padding: 1.5rem 1.5rem 1.5rem 4.125rem;
  }
}

@media (max-width: 899px) {
  .root {
    padding: 1rem 1rem 1rem 3.125rem;
  }
}

@media (max-width: 639px) {
  .root {
    padding: 3.125rem 1rem 1rem 1rem;
  }
}