.hidden {
  visibility: hidden;
}

.animationIn {
  z-index: 9999 !important;
}
.animationOut,
.animationIn {
  animation-delay: 0.75s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.reverse {
  animation-direction: reverse;
}

.zoomIn {
  animation-name: zoomIn;
}
.fadeIn {
  animation-name: fadeIn;
}
.slideLeftIn {
  animation-name: slideLeftIn;
}
.slideLeftOut {
  animation-name: slideLeftOut;
}
.slideBottomIn {
  animation-name: slideBottomIn;
}
.slideBottomOut {
  animation-name: slideBottomOut;
}
.flipXIn {
  animation-name: flipXIn;
}
.flipYIn {
  animation-name: flipYIn;
  transform-origin: left
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideLeftIn {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes slideLeftOut {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes slideBottomIn {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes slideBottomOut {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

@keyframes flipXIn {
  from {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0);
  }
}

@keyframes flipYIn {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(0);
  }
}
