/* .cinema {
  color: red;
  background-color: green;
  fill: red;
  stroke: blue;
}

.cinema svg {
  color: red;
  background-color: green;
  fill: red;
  stroke: blue;
}

.cinema svg .cls-1 {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 3px;
} */
