.root {
  display: flex;
  width: 100%;
  position: relative;
}

.title {
  font-size: var(--fs-2);
  line-height: 1;
  margin-bottom: max(1.5rem, 2vw);
}

.sideContainer {
  width: max(15.625rem, 22%);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: max(1.5rem, 2vw);
}

.mainContainer {
  flex-grow: 1;
  padding-left: max(0.75rem, 1vw);
  min-width: 0;
}

.list {
  display: flex;
  flex-direction: column;
}

.noResults {
  padding: max(1.5rem, 2vw);
  font-size: var(--fs-3);
}

.Pagination {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
}

.Pagination__element {
  width: max(1.5rem, 2vw);
  height: max(1.5rem, 2vw);
  font-size: var(--fs-7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pagination__element:hover,
.Pagination__element:focus-visible,
.active {
  background-color: var(--primary);
}

.Pagination__element:focus-visible {
  outline: max(0.09375rem, 0.125vw) solid var(--accent);
}

.li {
  display: flex;
  margin-right: max(0.1875rem, 0.25vw);
}

.dots {
  font-size: var(--fs-7);
  padding: 0 max(0.1875rem, 0.25vw);
}

.buttonList {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.button {
  background-color: var(--background-highlight);
  margin-bottom: max(0.75rem, 1vw);
  height: max(3.75rem, 5vw);
  font-size: var(--fs-6);
  border-radius: max(0.75rem, 1vw);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 max(2.25rem, 3vw);
  transition: background-color 0.5s, border 0.5s, color 0.5s;
  outline: none;
}

.buttonActive {
  background: var(--primary-dark);
}

.button:hover,
.button:focus {
  background: var(--primary-dark);
  color: var(--accent);
}

@media (max-width: 899px) {
  .root {
    flex-direction: column;
  }

  .title {
    text-align: center;
  }

  .mainContainer {
    padding-left: 0;
  }

  .sideContainer {
    width: 100%;
  }

  .buttonList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .button {
    width: 33%;
  }
}

@media (max-width: 639px) {
  .button {
    padding: max(1.5rem, 2vw);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}