.root {
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--purple);
  color: var(--white);
  width: 185px;
}

.root:hover {
  background-color: var(--magenta);
}

.container {
  display: block;
  flex-direction: column;
}

.body {
  padding: 0.75rem;
}

.name {
  font-size: 1.125rem;
  font-weight: 700;
}
.character {
  font-size: 1rem;
}
