.root {
  padding: 0 max(2.25rem, 3vw);
}

.button {
  position: absolute;
  right: min(-2.25rem, -3vw);
  top: 0;
  height: 100%;
  padding: 0 max(0.375rem, 0.5vw);
  width: max(2.25rem, 3vw);
  border-radius: 0;
}

.button:focus-visible {
  outline: max(0.09375rem, 0.125vw) solid var(--accent);
}

.buttonLeft {
  left: min(-2.25rem, -3vw);
}

.button:not([disabled]):hover .svg {
  fill: var(--accent);
}

.button > svg {
  fill: var(--primary);
  transition: opacity 1s, fill 0.5s;
  width: 100%;
  height: unset;
}

.button:disabled {
  cursor: default;
}

.button:disabled .svg {
  opacity: 0.2;
}
