.shortList {
  display: flex;
  width: 100%;
  overflow: auto;
  padding: max(0.75rem, 1vw);
}

.button {
  font-size: var(--fs-4);
  color: var(--primary);
  margin: max(0.75rem, 1vw)
}

.button:hover {
  font-size: var(--fs-4);
  color: var(--secondary);
}
