.root {
  max-width: max(60rem, 80vw);
  padding: max(1.5rem, 2vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
}

.username {
  margin-left: max(0.75rem, 1vw);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.content {
  margin: max(0.75rem, 1vw) 0;
  overflow: hidden;
}

.content p {
  margin-bottom: max(0.4875rem, 0.65vw);
}

.content hr {
  display: none;
}

.button {
  font-size: var(--fs-7);
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  transition: color 0.5s;
}

.button:hover {
  color: var(--accent);
}

.date {
  font-family: Montserrat, sans-serif;
  margin-left: max(0.75rem, 1vw);
}

.author {
  font-family: Montserrat, sans-serif;
  margin-left: max(0.75rem, 1vw);
}