.root {
  display: flex;
  width: 100%;
  position: relative;
  padding-left: 3.5rem;
}

.PersonalInfoContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 3.5rem;
  overflow: hidden;

}

.MainInfoContainer {
  width: 75%;
  padding: 3.5rem 10rem 3.5rem 3.5rem;
}

.Poster {
  border-radius: 50px;
  width: 281px;
  margin-bottom: 2rem;
}

.PersonalInfo {
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
  overflow: hidden;
  overflow-wrap: break-word;
}

.PersonalInfoList > dt {
  font-weight: 600;
  color: var(--primary);
}
.PersonalInfoList > dd {
  margin-bottom: 1.5rem;
}

.header {
  padding-bottom: 2rem;
}

.section {
  padding-bottom: 2rem;
}

.title {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  position: relative;
  color: var(--primary);
  font-weight: 700;
}

.subtitle {
  font-size: 2rem;
  color: var(--on-background);
}

.heading {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.Image {
  border-radius: 40px;
  overflow: hidden;
}
