.root {
  display: flex;
  width: 100%;
  position: relative;
  padding: max(0.75rem, 1vw) max(1.5rem, 2vw) max(0.75rem, 1vw) max(3rem, 4vw);
}

.sideContainer {
  width: max(15.625rem, 22%);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.mainContainer {
  flex-grow: 1;
  padding-left: max(0.75rem, 1vw);
}

.Poster {
  border-radius: max(2.25rem, 3vw);
  width: max(13.125rem, 17.5vw);
  margin-bottom: max(1.5rem, 2vw);
}

.PersonalInfo {
  font-family: Montserrat, sans-serif;
  font-size: var(--fs-6);
  overflow: hidden;
  overflow-wrap: break-word;
}

.PersonalInfoList > dt {
  font-weight: 600;
  color: var(--primary);
}
.PersonalInfoList > dd {
  margin-bottom: max(1.125rem, 1.5vw);
}

.header {
  padding-bottom: max(1.5rem, 2vw);
}

.section {
  padding-bottom: max(1.5rem, 2vw);
}

.title {
  font-size: var(--fs-2);
  letter-spacing: max(0.15rem, 0.2vw);
  position: relative;
  color: var(--primary);
  font-weight: 700;
}

.subtitle {
  font-size: var(--fs-3);
  color: var(--on-background);
}

.heading {
  font-size: var(--fs-3);
  color: var(--primary);
  margin-bottom: max(0.75rem, 1vw);
}

.Image {
  border-radius: max(1.875rem, 2.5vw);
  overflow: hidden;
}
