.details {
  color: white;
  background-color: var(--purple-opacity);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  transition: background-color 0.5s;
}

.details:hover {
  background-color: var(--purple);
}
