.container {
  color: white;
  background-color: var(--violet-opacity);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  transition: background-color 1s, border 1s;
  max-width: 50rem;
  border: solid 2px transparent;
}

.container:hover {
  background-color: var(--violet);
  border: solid 2px var(--orange);
}

.title {
  font-size: 2.5rem;
}

.tagline {
  font-size: 1.5rem;
  font-style: italic;
}

.genres {
  display: flex;
  margin: 0.5rem 0;
}

.genresItem {
  margin-right: 1.5rem;
}


