.title {
  font-size: var(--fs-3);
  color: var(--on-background);
}

.subtitle {
  font-size: var(--fs-4);
  margin-bottom: max(1.5rem, 2vw);
}

.hide {
  display: none;
}

.button {
  margin: max(2.25rem, 3vw) 0 0 max(2.25rem, 3vw);
}
