:root {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

html,
body,
#__next,
.app,
main {
  height: 100%;
  width: 100%;
  background: var(--background);
  color: var(--on-background);
  overflow-y: hidden;
  position: relative;
  z-index: -999;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a,
button {
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: transparent;
  position: relative;
}

a, input, button, textarea, select {
  font-family: 'Roboto', sans-serif;
  color: var(--on-background);
  line-height: 1.5;
}

a:focus,
button:focus {
  z-index: 1005;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

main {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-dark) var(--background);
}

main::-webkit-scrollbar {
  width: 8px;
  background-color: var(--background);
}

main::-webkit-scrollbar-button {
  display: none;
}

main::-webkit-scrollbar-thumb {
  background-color: var(--primary-dark);
  border-radius: 4px;
}

main::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}
