:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --purple: rgb(42, 9, 68);
  --violet: rgb(59, 24, 95);
  --magenta: rgb(161, 37, 104);
  --orange: rgb(254, 194, 96);
  --red: rgb(255, 0, 0);

  --black-04: rgba(0, 0, 0, 0.4);
  --white-04: rgba(255, 255, 255, 0.4);
  --purple-04: rgba(42, 9, 68, 0.4);
  --violet-04: rgba(59, 24, 95, 0.4);
  --magenta-04: rgba(161, 37, 104, 0.4);
  --orange-04: rgba(254, 194, 96, 0.4);
  --red-04: rgba(255, 0, 0, 0.4);
}
